* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.leader-1 {
  width: 100%;
  max-width: 100px;
  position: relative;
}
.leader-1::before {
  content: "";
  background-image: url(../Icons/twitter-icon.svg);
  position: relative;
  background-position: center;
  background-color: red;
}
.icons:hover {
  display: block;
  background-color: red;
  position: relative;
  opacity: 1;
}
.icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 320px;
  padding: 140px 120px;
}
